// ########## utility css start ##########
// background
.bg-light-1 {
    background-color: $color-light-1;
}
.bg-light-2 {
    background-color: $color-light-2;
}
.bg-cyan {
    background-color: $color-cyan;
}


// color
.text-cyan {
    color: $color-cyan;
}
.text-pink {
    color: $color-pink;
}
.text-black {
    color: $color-black;
}
// ##########// end of utility css ##########