@import url(../abstracts/_mixins.scss);

.btn-cyan {
    background-color: $color-cyan;
    color: $color-white;
 
    &:hover {
       background-color: darken($color-cyan, 5);
       color: $color-white;
    }
}